
	

/* Navigation Section */
.top-navigation {
    background-color: #fff;
}
.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
}

 .logo {
 	margin-left: 14px;
 	height:7 0pv;
 }








a {
	text-decoration: none;
}












body{
background-color: blue;
}
}