
	

/* Navigation Section */
html {
	-webkit-font-smoothing: antialiased;
}



body {
	font-family: 'Roboto', sans-serif; 
	font-size: 16px; 
	color: #838994; 
	letter-spacing: 0.03em;
}

 .content {
    margin: 0 auto;
    width: 960px;
 }

 

 .top-navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 9999;
}





 .top-navigation > .content {
    
    height: 70px;
    
    padding: 0px 15px;
    /* this will lay out text from right to left and not allow the margis  display:inline-block;
    * a width is needed for the margin 0 auto */
    text-align: center;
    width: 960px;

    
}




 .logo {
 
 	height: 70px;
 }

 .top-navigation .links {
    float: right;
    
    
    
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
 .top-navigation .links li {
    display: inline-block;
    margin-left: 25px;


    

 	
 }
 .top-navigation .links .active {
	color: #4c5058;
    font-weight: 500;
    
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
   
}

<span style="cursor:pointer">pointer</span><br> /* pointing hand */


a {
	text-decoration: none;
}

/*introduction Section*/

.introduction {
    background-image: url("images/first-background copy.jpg");
    background-attachment: scroll;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
    
}
.introduction h1 {

    margin-top: 17.5rem;
    font-size: 3.125rem;

}





.introduction h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
  }

.introduction h1, .introduction h3 {
    color: white;
    text-align: center;
    font-weight: 300;
 }

 /**
 * the buttons
 */


 
 .big-button {
    
    top: 634px;
    left:300px;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
    width:16;
    background-color: orange;
    font-size:  18px;
    color: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
   


}

  .big-button:hover {

    background-image:none !important;
    background-color:#ff00ff !important;
    cursor: pointer;
}
  
  .devices {
    text-align: center;
  }


  
.devices li {
    display: inline-block;
    margin-right: 40px;
    
}



    

 
.cases  .content h2 {
    text-align: center;
    color: black;
    font-size: 25px;
    margin-top: 10%;
}


ul {
    list-style-type: none;
}

  
 

